.main-container {
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-areas:
      'Logo Logo'
      'Title Title'
      'Search Search'
      'Filter Sort'
      'FilterOptions FilterOptions'
      'Result Result'
      'Content Content'
      'Pagination Pagination';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.01fr 0.01fr 1.5fr 0.01fr;
    grid-gap: 1%;
    margin: 2% 5% 0 5%;
}

.logo-wrapper {
  grid-area: Logo;
  font-family: 'Righteous', cursive;
  width: 30vw;
  height: 100%;
}

.title-wrapper {
  grid-area: Title;
  font-family: 'Righteous', cursive;
  width: 90vw;
  height: 100%;
  font-size: 5vh;
}

.search-wrapper {
  grid-area: Search;
  padding-top: 2vh;
  width: 70vw;
}

.filter-wrapper {
  grid-area: Filter;
  display: auto;
  padding-left: 10vw;
  padding-right: 3vw;
  width: 40vw;
}

.filter-button {
  font-size: 120%;
}

.sort-wrapper {
  grid-area: Sort;
  display: auto;
  padding-right: 10vw;
  padding-left: 3vw;
  width: 40vw;
}

.main-content {
    grid-area: Content;
    width: 100%;
    padding-bottom: 5%;
}

.welcome-text {
  font-size: 120%;
}

.result-amount {
  grid-area: Result;
  padding-left: 90%;
}

.list-group-item {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2vh;
  text-align: left;
  opacity: 0.90;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

.list-group-item:hover {
  background-color: grey;
  cursor: default;
}

.filter-options {
  grid-area: FilterOptions;
  text-align: left;
  font-size: 100%;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

.filter-options-active {
  grid-area: FilterOptions;
  text-align: left;
  font-size: 100%;
  width: 70vw;
  height: auto;
  padding-bottom: 2vw;
  opacity: 1;
  filter: alpha(opacity=1); /* For IE8 and earlier */
}

.pagination-wrapper {
  grid-area: Pagination;
}
