.list-group-item-title {
  display: inline;
  float: left;
  font-size: 100%;
}

.list-group-item-grade {
  display: inline;
  float: right;
}

.inline-icon {
  vertical-align: bottom;
}

.material-icons-outlined.active:hover {
  color: gold;
  cursor: pointer;
}

.material-icons.active:hover {
  color: gold;
  cursor: pointer;
}

.movie-details-body-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, .1fr);
  grid-gap: 2vw;

  text-align: left;
}

.movie-details-body-info-poster {
  grid-area: 1 / 1 / 2 / 2;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.movie-details-body-info-text {
  grid-area: 1 / 2 / 2 / 3;
}

.movie-details-body-text-header h1 {
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.movie-details-body-chart {
  grid-area: 1 / 3 / 2 / 4;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.movie-details-body-text-plot {
  grid-area: 2 / 1 / 3 / 4;
}

@media only screen and (max-width: 768px) {
  .movie-details-body-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, .1fr);
  }

  .movie-details-body-poster {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
  }

  .movie-details-body-info-text {
    grid-area: 2 / 1 / 3 / 2;
  }

  .movie-details-body-text-plot {
    grid-area: 3 / 1 / 4 / 2;
  }

  .movie-details-body-chart {
    grid-area: 4 / 1 / 5 / 2;
    justify-self: center;
  }
}
