.sort-button {
  float: left;
  width: 70%;
  height: 48px;
  font-size: 120%;
}

.sort-button-drop {
  width: 70%;
}

.sort-order-button {
  float: right;
  margin-left: 10%;
  width: 100%;
  height: 48px;
  font-size: 120%;
}
